body {
  overflow-x: hidden;
  font-family: "Roboto Slab", "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.text-muted,
q,
cite,
.list-block {
  color: #777;
}
.text-primary {
  color: #F94C8C;
}
p,
q,
cite {
  font-size: 14px;
  line-height: 1.75;
}
p.large {
  font-size: 16px;
}
a,
a:hover,
a:focus,
a:active,
a.active {
  outline: none;
}
a {
  color: #F94C8C;
}
a:hover,
a:focus,
a:active,
a.active {
  color: #f71b6c;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: "Montserrat", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}

img {
  margin-bottom: 0;
}

.fa-inverse {
  color: #fdc51b;
  font-size: 75px;
}
.portfolio-caption {
  text-align: left;
  min-height: 340px;
  h4 {
    padding-bottom: 20px;
  }
  q {
    text-align: left !important;
    margin-bottom: 30px;
    padding-bottom: 30px;
  }
  .list-block {
    list-style-type: none;
    padding-top: 30px;
  }
}

.intro-container-overlay {
  background-image: url("../images/pineapple.jpg");
  position: absolute;
  top:0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: -1;
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
}

.intro-container {
  background-repeat: no-repeat;
  background-position: bottom center;
  background-size: cover;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  text-align: center;
  color: white;
  height: 700px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  position: relative;
  @media only screen and (max-width: 500px) {
    // background-image: none;
  }
  h1 {
    font-size: 55px;
  }
  .logo {
    color: #f7f7f7;
    font-family: "Kaushan Script", "Helvetica Neue", Helvetica, Arial, cursive;
    position: absolute;
    top: 20px;
    left: 20px;
  }
}

footer {
  height: 200px;
  background-color: #333;
}
